* {
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
}

body,
html {
	font-size: 15px;
	font-family: "微软雅黑";
}
                            /*login*/
.login {
	width: 100%;
	height: 100%;
	/*border: 1px solid red;*/
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0px;
	left: 0px;
	display: none;
	z-index: 2;
}
.login .col-lg-12{
    height:400px;
    width: 40%;
    margin-left: 30%;
    /*border: 1px solid red;*/
    margin-top: 10%;
}
.login .col-lg-12 .log-in {
    height: 400px;
    width: 100%;
	/*border: 1px solid white;*/
	/*background: coral;*/
	background-image: url(../img/login-bg.jpg);
	background-size: cover;
	overflow: hidden;
	
}
.login .col-lg-12 .log-in input{
	font-family: "楷体";
	font-size: 20px;
	font-weight: 100;
}
.login .col-lg-12 .close-login {
	height: 20px;
	/*border: 1px solid green;*/
}
.login .col-lg-12 .close-login .exit {
	height: 20px;
	width: 20px;
	/*margin-left: 90%;*/
	/*border: 1px solid red;*/
	float: right;
}

.login .col-lg-12 .close-login .exit a {
	text-decoration: none;
	display: block;
	text-align: center;
	line-height: 20px;
	color: black;
}

.login-main {
	width: 60%;
	height: 230px;
	margin-left: 20%;
	/*margin-top: -50px;*/
}

.login-main h2 {
	width: 100%;
	text-align: center;
}

.log input {
	width: 100%;
	height: 40px;
	outline: none;
	/*border-radius: 15px;*/
	margin-bottom: 10px;
}
.log-in .checkbox{
	text-align: center;
}
.log-in .checkbox input{
	/*size: 25;*/
	/*float: left;*/
	margin-top: -0.5px;
	/*margin-left: 100%;*/
}
.log-bt input{
	width:30%;
	height: 30px;
	outline: none;
	border: none;
	background-color: cadetblue;
}
.login-1{
	height: 40px;
	border-top: 1px solid gainsboro;
	margin-top: 10px;
}
.login-1 span{
	text-align: center;
	line-height: 40px;
	color: beige;
}
.login-2{
	height: 60px;
	/*border: 1px solid black;*/
}
.login-2 a{
	text-decoration: none;
	display: block;
	text-align: center;
	color: red;
}
.login-2 a img{
	width: 40px;
	height: 40px;
	border-radius: 20px;
}


                            /*register*/

.register {
	width: 100%;
	height: 100%;
	/*border: 1px solid red;*/
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0px;
	left: 0px;
	display: none;
	z-index: 2;
}
.register .col-lg-12{
    height: 500px;
    width: 40%;
    margin-left: 30%;
    /*border: 1px solid red;*/
    margin-top: 8%;
}
.register .col-lg-12 .regist {
    height: 500px;
    width: 100%;
	/*border: 1px solid #ffffff;*/
	/*background: coral;*/
	background-image: url(../img/regist.jpg);
	background-size: cover;
	overflow: hidden;
	
}
.register .col-lg-12 .regist input{
	font-family: "楷体";
	font-size: 20px;
	font-weight: 100;
}
.register .col-lg-12 .regist span{
	font-family: "楷体";
	font-size: 20px;
	font-weight: 200;
	color: black;
}
.close-register {
	height: 20px;
	/*border: 1px solid green;*/
}
.close-register .exit {
	height: 20px;
	width: 20px;
	/*margin-left: 90%;*/
	/*border: 1px solid red;*/
	float: right;
}

.close-register .exit a {
	text-decoration: none;
	display: block;
	text-align: center;
	line-height: 20px;
	color: black;
}

.register-main {
	width: 80%;
	height: 300px;
	margin-left: 10%;
	/*margin-top: -50px;*/
}

.register-main h2 {
	width: 100%;
	text-align: center;
}                           
.regist1{
	height: 250px;
	width: 100%;
	/*border: 1px solid #000000;*/
	margin-top: 20px;
}                          
.regist1 label{
    width: 35%;
    height: 40px;
    /*border: 1px solid yellow;*/
    float: left;
    margin-bottom: 10px;
    /*margin-top: 5px;*/
} 
.regist1 span{
	width: 100%;
	height: 40px;
	/*border: 1px solid yellow;*/
	float: left;
	text-align: center;
	/*line-height: 40px;*/
} 
.regist1 input{
	width: 60%;
	height: 40px;
	/*border: 1px solid red;*/
	margin-bottom: 10px;
	outline: none;
	border: none;
	border-radius: 10px;
	background: burlywood;
	/*float: left;*/
}
.kind{
    width: 100%;
    height: 40px;
    /*border: 1px solid red;*/
}
.kind input{
    height: 10px;
    margin-top: 10px;
}
.kind .radio2{
    margin-left: 5%;
}
.kind label{
    width: 35%;
    height: 40px;
    /*border: 1px solid yellow;*/
    float: left;
    margin-bottom: 10px;
    /*margin-top: 5px;*/
}

.register-bt{
	width: 90%;
    margin-left: 5%;
	height: 55px;
    /*border: 1px solid red;*/
}
.register-bt p{
    text-decoration: none;
    display: block;
    text-align: center;
    color: #000000;
}
.register-bt input{
	width: 30%;
    float: left;
	height: 40px;
	outline: none;
	border: none;
	background: lightblue;
	margin-top: 10px;
	border-radius: 10px;
}
.register-bt .submit1{
     margin-left: 10%;
 }
.register-bt .submit2{
    margin-left: 20%;
}

                    /*certification*/

.certification {
    width: 100%;
    height: 100%;
    /*border: 1px solid red;*/
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 2;
}
.certification .col-lg-12{
    height: 560px;
    width: 42%;
    margin-left: 29%;
    /*border: 1px solid red;*/
    margin-top: 5%;
}
.certification .col-lg-12 .certificate {
    height: 560px;
    width: 100%;
    /*border: 1px solid white;*/
    /*background: coral;*/
    background-image: url(../img/login-bg.jpg);
    background-size: cover;
    overflow: hidden;

}
.certification .col-lg-12 .certificate input{
    font-family: "楷体";
    font-size: 20px;
    font-weight: 100;
}
.certification .col-lg-12 .close-certification {
    height: 20px;
    /*border: 1px solid green;*/
}
.certification .col-lg-12 .close-certification .exit {
    height: 20px;
    width: 20px;
    /*margin-left: 90%;*/
    /*border: 1px solid red;*/
    float: right;
}

.certification .col-lg-12 .close-certification .exit a {
    text-decoration: none;
    display: block;
    text-align: center;
    line-height: 20px;
    color: black;
}

.certification-main {
    width: 92%;
    height: 540px;
    margin-left: 4%;
    /*margin-top: -50px;*/
    /*border: 1px solid red;*/
}

.certification-main h2 {
    width: 100%;
    text-align: center;
}

.certificate1 input {
    width: 100%;
    outline: none;
    border: none;
    background: rgba(255, 255, 255, 0.5);
    height: 40px;
    /*border-radius: 15px;*/
    margin-bottom: 10px;
}
.certificate label{
    color: white;
    display: block;
    font-size: 22px;
    float: left;
}
.select1 select{
    width: 100%;
    outline: none;
    border: none;
    background: rgba(255, 255, 255, 0.5);
    height: 40px;
}
.certificate .describe{
    height: 130px;
}
.describe label{
    margin-top: 10px;
}
textarea{
    width: 100%;
    height: 80px;
    outline: none;
    border: none;
    background: rgba(255, 255, 255, 0.5);
}
.cer-bt{
    height: 50px;
}
.cer-bt input{
    width: 30%;
    /*margin-left: 35%;*/
    outline: none;
    border: none;
    background: #e25111;
    height: 40px;
}

@media screen and (max-width: 736px) {
    .login .col-lg-12{
        width: 80%;
        margin-left: 10%;
    }
    .register .col-lg-12{
        width: 90%;
        margin-left: 4%;
    }
    .register .col-lg-12 .regist span{
        font-size: 16px;
    }
}
@media screen and (max-width: 500px) {
    .login .col-lg-12{
        width: 80%;
        margin-left: 10%;
    }
    .register .col-lg-12{
        width: 90%;
        margin-left: 4%;
    }
    .register .col-lg-12 .regist span{
        font-size: 14px;
    }
}
