* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

ul li {
	list-style: none;
}

body,
html {
	font-size: 18px;
	font-family: "微软雅黑";
}

.remark-main {
	margin-left: 4%;
	margin-right: 4%;
}

.remark-top {
	/*margin-top: 20px;*/
	/*height: 100px;*/
	border-bottom: 1px solid beige;
}

.remark-top .col-lg-12 {
	height: 100px;
	/*border: 1px solid green;*/
}

.remark-top .col-lg-12 h2 {
	color: white;
	margin-top: 40px;
}

.remark-1 {
	/*height: 250px;*/
	/*border: 1px solid red;*/
}

.remark-1-top {
	/*height: 100px;*/
	/*border: 1px solid green;*/
}

.remark-1-top .col-lg-3 {
	height: 100px;
	/*border: 1px solid white;*/
}

.remark-1-top .col-lg-9 {
	height: 100px;
	/*border: 1px solid white;*/
}

.remark-1-top-1 {
	/*height: 100px;*/
	width: 35%;
	/*border: 1px solid white;*/
	float: left;
}

.remark-1-top-1 img {
	width: 70px;
	height: 70px;
	border-radius: 35px;
	margin-left: 25%;
	margin-top: 15px;
}

.remark-1-top-2 {
	height: 70px;
	width: 65%;
	/*border: 1px solid white;*/
	float: left;
	margin-top: 15px;
}

.remark-1-top-2 p {
	color: white;
	margin-top: 10px;
}

.remark-1-top-2 img {
	height: 20px;
	width: 20px;
}

.remark-1-top-3 {
	height: 100px;
	width: 40%;
	/*border: 1px solid white;*/
	float: left;
	margin-left: 65%;
}

.remark-1-top-3 .re-1,
.re-2,
.re-3 {
	height: 100px;
	width: 30%;
	/*border: 1px solid yellow;*/
	float: left;
}

.remark-1-top-3 img {
	height: 30px;
	width: 30%;
	float: left;
	margin-top: 35px;
	margin-left: 15%;
}

.remark-1-top-3 span {
	display: block;
	float: right;
	line-height: 100px;
	margin-right: 20%;
	color: white;
	margin-left: -10%;
}

.remark-1-bottom {
	/*height: 150px;*/
	/*border-top: 1px solid beige;*/
	/*border-bottom: 1px solid beige;*/
}

.remark-1-bottom .col-lg-12 {
	height: 15%;
	border-top: 1px solid beige;
	border-bottom: 1px solid beige;
}

.remark-1-bottom .col-lg-12 p {
	color: white;
	margin-top: 35px;
	margin-bottom: 35px;
	line-height: 22px;
}

.remark-bottom {
	height: 100px;
	/*border: 1px solid red;*/
}

.remark-bottom .col-lg-12 {
	height: 100px;
	/*border: 1px solid green;*/
}

.remark-bottom .nextpage {
	height: 40px;
	width: 300px;
	/*border: 1px solid red;*/
	/*background: gold;*/
	margin: 30px auto;
}

.remark-bottom .nextpage a {
     text-decoration: none;
     display: block;
     text-align: center;
     line-height: 40px;
 }
.remark-bottom .nextpage a span {
    text-decoration: none;
    display: block;
    text-align: center;
    padding:0 30px;
    background: gold;
    float: left;
    line-height: 40px;
}
.remark-bottom .nextpage .next span{
    margin-left: 70px;
}
@media screen and (max-width: 500px) {
    .remark-bottom .nextpage a span {
        text-decoration: none;
        display: block;
        text-align: center;
        padding:0 20px;
        background: gold;
        float: left;
        line-height: 40px;
    }
    .remark-bottom .nextpage .next span{
        margin-left: 10px;
    }
}
.news-details-remark {
	/*height: 300px;*/
	/*border: 1px solid white;*/
}

.news-details-remark .col-lg-12 {
	height: 300px;
	/*border: 1px solid red;*/
}

.news-details-remark label {
	color: white;
	font-size: 30px;
	font-family: "楷体";
	margin-top: 5px;
}

.news-details-remark textarea {
	/*outline: none;
 		 	border: none;*/
	background: beige;
	height: 200px;
	width: 100%;
}

.news-details-remark .submit {
	/*border: 1px solid red;*/
	padding: 2% 6%;
	background: royalblue;
	text-decoration: none;
	display: block;
	cursor: pointer;
	margin-left: 80%;
	color: white;
	/*margin-top: 0px;*/
}

.news-details-remark .submit:hover {
	opacity: 0.6;
}