<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<!--使得i内核使用更高的渲染效果展示-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!--设置支持移动端的视窗-->
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<!--上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后-->
		<title th:text="|${data.title}评论列表|"></title>
		<!--Bootsttap-->
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/contact.css" rel="stylesheet" />
		<link href="/css/shop.css" rel="stylesheet">
		<link href="/css/index.css" rel="stylesheet">
		<link href="/css/chuanshishuhua.css" rel="stylesheet" />
		<link href="/css/dangdaishuhua.css" rel="stylesheet" />
		<link href="/css/show.css" rel="stylesheet" />
		<link href="/css/news.css" rel="stylesheet" />
		<link href="/css/gonex-icons.css" rel="stylesheet" />
		<link href="/css/cssh-erji.css" rel="stylesheet" />
		<link href="/css/remark.css" rel="stylesheet" />
	</head>

	<body>
		<div id="page-wrapper">

			<!-- Header -->
			<header id="header">
				<h1><a href="index.html">书画网</a></h1>
				<nav id="nav">
					<ul>
						<li class="special">
							<a href="#menu" class="menuToggle"><span>Menu</span></a>
							<div id="menu">
                                <ul>
                                    <li>
                                        <a href="/">首页</a>
                                    </li>
                                    <li>
                                        <a href="/calligraphy">传世书法</a>
                                    </li>
                                    <li>
                                        <a href="/painting">传世绘画</a>
                                    </li>
                                    <li>
                                        <a href="/show">书画展览</a>
                                    </li>
                                    <li>
                                        <a href="/auction">书画竞拍</a>
                                    </li>
                                    <li>
                                        <a href="/share">书画共享</a>
                                    </li>
                                    <li>
                                        <a href="/news">新闻资讯</a>
                                    </li>
                                    <li>
                                        <a href="/contact-us">联系我们</a>
                                    </li>
                                </ul>
							</div>
						</li>
					</ul>
				</nav>
			</header>
		</div>
		<div class="container-fluid">
			<div class="remark-main">
				<div class="remark-top">
					<div class="row">
						<div class="col-lg-12">
							<h2 th:text="|(共${data.commentAmount}条)|"></h2>
						</div>
					</div>
				</div>
				<div class="remark-2" th:each="item:${page.content}">
					<div class="remark-1-top">
						<div class="row">
							<div class="col-lg-3">
								<div class="remark-1-top-1">
									<img src="/img/touxiang1.jpg" />
								</div>
								<div class="remark-1-top-2">
									<p th:text="${item.username}"></p>
									<p>
										<img src="/img/star.png" />
										<img src="/img/star.png" />
										<img src="/img/star.png" />
										<img src="/img/star.png" />
									</p>
									<p th:text="${item.createTime}"></p>
								</div>
							</div>
							<div class="col-lg-9">
								<div class="remark-1-top-3">
									<a href="#">
										<div class="re-1">
											<span>9</span>
											<img src="/img/heart1.jpg" />
										</div>
										<div class="re-2">
											<img src="/img/heart2.jpg" />
											<span>5</span>
										</div>
										<div class="re-3">
											<img src="/img/jubao.jpg" />
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="remark-1-bottom">
						<div class="row">
							<div class="col-lg-12">
								<p th:text="${item.content}">宽巷子是“闲生活”区，以旅游休闲为主题。改造后的宽 巷子是老成都生活的再现，在这条巷子中游览，能走进老成都生活体验馆，感受成都的风土人情和几乎要失传了 的一些老成都的民俗生活场景。而四合院中可以品上盖碗茶，吃上正宗的川菜。宽巷子唤起了人们对老成都的亲 切回忆。新建的宅院式精品酒店等各具特色的建筑群落给富有传统气息的巷子点缀上了时尚的气息，是老成都的 “闲生活”。
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="remark-bottom">
					<div class="row">
						<div class="col-lg-12">
							<div class="nextpage">
<!--                                <a href="#">
                                    <div class="pre"><span>上一页</span></div>
                                    <div class="next"><span>下一页</span></div>
                                </a>-->
							</div>
						</div>
					</div>
				</div>
<!--				<div class="news-details-remark">
					<div class="row">
						<div class="col-lg-12">
							<form action="#" method="post" id="comment">
								<label for="comment">发表观点:</label>
								<textarea name="comment" placeholder="来说两句吧..."></textarea>
								<a class="submit" onclick="submit()">畅言一下</a>
							</form>
						</div>
					</div>
				</div>-->
				<div class="footer">
					<div class="footer-main">
						<div class="row">
							<div class="col-lg-4">
								<div class="footer-page1">
									<h3>关于我们</h3>
									<ul class="footer-page1-1">
										<li>
											<a href="#">在这里，你可以share</a>
										</li>
										<li>
											<a href="#">在这里，你可以remark</a>k</li>
										<li>
											<a href="#">在这里，你可以go shopping</a>
										</li>
										<li>
											<a href="#">在这里，你可以learn</a>
										</li>
										<li>
											<a href="#">在这里，你可以read</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="footer-page2">
									<h3>页面链接</h3>
									<ul class="footer-page2-1">
										<li>
											<a href="#">传世书画</a>
										</li>
										<li>
											<a href="#">当代书画</a>k</li>
										<li>
											<a href="#">书画展览</a>
										</li>
										<li>
											<a href="#">书画拍卖</a>
										</li>
										<li>
											<a href="#">新闻资讯</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="footer-page3">
									<h3>联系我们</h3>
									<ul class="footer-page3-1">
										<li>
											<a href="#">电话：028-123456789</a>
										</li>
										<li>
											<a href="#">手机：1234567890</a>k</li>
										<li>
											<a href="#">邮箱：1829978700@qq.com</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="footer-img">
						<div class="row">
							<div class="col-lg-12">
								<div class="social-info">
									<a href="#" class="-facebook"><span class="ico ico-facebook" aria-hidden="true"></span></a>
									<a href="#" class="-twitter"><span class="ico ico-twitter" aria-hidden="true"></span></a>
									<a href="#" class="-dribbble"><span class="ico ico-dribbble" aria-hidden="true"></span></a>
									<a href="#" class="-googleplus"><span class="ico ico-google-plus" aria-hidden="true"></span></a>
									<a href="#" class="-youtube"><span class="ico ico-youtube" aria-hidden="true"></span></a>
								</div>
							</div>
						</div>
					</div>
					<div class="footer-copyright">
						<div class="row">
							<div class="col-lg-12">
								<p>© 2018 - All Rights Reserved. 书画网</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--jQuery  使用bootstrap插件必须引入jQuery-->
		<script src="/js/jquery.min.js"></script>
		<!--使用bootstrap插件必须引入-->
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/jquery.scrollex.min.js"></script>
		<script src="/js/jquery.scrolly.min.js"></script>
		<script src="/js/skel.min.js"></script>
		<script src="/js/util.js"></script>
		<script src="/js/main.js"></script>
	</body>

</html>