 <!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8">
		<!--使得i内核使用更高的渲染效果展示-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!--设置支持移动端的视窗-->
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<!--上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后-->
		<title>书画展览</title>
		<!--Bootsttap-->
		<link href="/css/bootstrap.min.css" rel="stylesheet"/>
		<link href="/css/show.css" rel="stylesheet"/>
		<link href="/css/index.css" rel="stylesheet">
		<link href="/css/chuanshishuhua.css" rel="stylesheet" />
		<link href="/css/dangdaishuhua.css" rel="stylesheet"/>
		<link href="/css/shop.css" rel="stylesheet" />
		<link href="/css/news.css" rel="stylesheet" />
		<link href="/css/contact.css" rel="stylesheet" />
		<link href="/css/gonex-icons.css" rel="stylesheet" />
        <link href="/css/animation.css" rel="stylesheet" />
	</head>
	<body>
		<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/">书画网</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
                                        <ul>
                                            <li>
                                                <a href="/">首页</a>
                                            </li>
                                            <li>
                                                <a href="/calligraphy">传世书法</a>
                                            </li>
                                            <li>
                                                <a href="/painting">传世绘画</a>
                                            </li>
                                            <li>
                                                <a href="/show">书画展览</a>
                                            </li>
                                            <li>
                                                <a href="/auction">书画竞拍</a>
                                            </li>
                                            <li>
                                                <a href="/share">书画共享</a>
                                            </li>
                                            <li>
                                                <a href="/news">新闻资讯</a>
                                            </li>
                                            <li>
                                                <a href="/contact-us">联系我们</a>
                                            </li>
                                        </ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>
		<div class="container-fluid">
			<div class="show-main">
				<div class="show-top">
					<div class="row">
						<div class="col-lg-6">
                            <div class="show-left">
                                <figure class="effect-bubba">
                                    <img src="img/show-top1.jpg" alt="show-top1.jpg"/>
                                    <figcaption>
                                        <h2>近期展会</h2>
                                        <p>Bubba likes to appear out of thin air.</p>
                                        <a href="javascript:void(1);" class="show-a">View more</a>
                                    </figcaption>
                                </figure>
                            </div>
						</div>
						<div class="col-lg-6">
                            <div class="show-right">
                                <div class="col-lg-6-top">
                                    <figure class="effect-bubba">
                                        <img src="img/show-top1.jpg" alt="show-top1.jpg"/>
                                        <figcaption>
                                            <h2>画廊机构</h2>
                                            <p>Bubba likes to appear out of thin air.</p>
                                            <a href="javascript:void(1);" class="show-b">View more</a>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="col-lg-6-bottom">
                                    <figure class="effect-bubba">
                                        <img src="img/show-top1.jpg" alt="show-top1.jpg"/>
                                        <figcaption>
                                            <h2>在线展览</h2>
                                            <p>Bubba likes to appear out of thin air.</p>
                                            <a href="javascript:void(1);" class="show-c">View more</a>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
						</div>
					</div>
				</div>
				<div class="show-1" id="showA">
					<div class="row">
						<div class="col-lg-12">
							<div class="show1-col-lg-12"><h2>近期展会</h2></div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4">
                            <figure class="effect-layla">
                                <img src="img/show-1-1.jpg" alt="show-1-1.jpg"/>
                                <figcaption>
                                    <h2>Crazy <span>Layla</span></h2>
                                    <p>When Layla appears, she brings an eternal summer along.</p>
                                    <a href="#">View more</a>
                                </figcaption>
                            </figure>
						</div>
						<div class="col-lg-4">
                            <figure class="effect-layla">
                                <img src="img/show-1-1.jpg" alt="show-1-1.jpg"/>
                                <figcaption>
                                    <h2>Crazy <span>Layla</span></h2>
                                    <p>When Layla appears, she brings an eternal summer along.</p>
                                    <a href="#">View more</a>
                                </figcaption>
                            </figure>
						</div>
						<div class="col-lg-4">
                            <figure class="effect-layla">
                                <img src="img/show-1-1.jpg" alt="show-1-1.jpg"/>
                                <figcaption>
                                    <h2>Crazy <span>Layla</span></h2>
                                    <p>When Layla appears, she brings an eternal summer along.</p>
                                    <a href="#">View more</a>
                                </figcaption>
                            </figure>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="more"><a href="show_list.html">查看更多&nbsp;&nbsp;→</a></div>
						</div>
					</div>
				</div>
				<div class="show-2" id="showB">
					<div class="row">
						<div class="col-lg-12">
							<div class="show1-col-lg-12"><h2>画廊机构</h2></div>
						</div>
					</div>	
					<div class="show-gallery-top">
						<div class="row">
							<div class="col-lg-8">
                                <figure class="effect-ming">
                                    <img src="img/show-2-1.jpg" alt="img/show-2-1" />
                                    <figcaption>
                                        <h2>巴西 <span>艺术城</span></h2>
                                        <p>Cidade das Artes艺术城坐落于大海和群山之间，是里约地区一处新的地标建筑，也会是漂浮在平原中极为醒目的城市标志。</p>
                                        <a href="show_detail.html">View more</a>
                                    </figcaption>
                                </figure>
							</div>		
							<div class="col-lg-4">
                                <figure class="effect-ming">
                                    <img src="img/show-2-2.jpg" alt="img/show-2-2" />
                                    <figcaption>
                                        <h2>范曾 <span>艺术馆</span></h2>
                                        <p>南通大学范曾艺术馆是中国第一家范曾艺术馆，位于公立南通大学主校区，收藏了范曾先生为艺术馆专门创作的精品佳作。</p>
                                        <a href="show_detail.html">View more</a>
                                    </figcaption>
                                </figure>
							</div>
						</div>
					</div>	
					<div class="show-gallery-bottom">
						<div class="row">
							<div class="col-lg-4">
                                <figure class="effect-ming">
                                    <img src="img/show-2-3.jpg" alt="img/show-2-3" />
                                    <figcaption>
                                        <h2>南京 <span>艺术馆</span></h2>
                                        <p>南京3d魔幻艺术馆</p>
                                        <a href="show_detail.html">View more</a>
                                    </figcaption>
                                </figure>
							</div>
							<div class="col-lg-4">
                                <figure class="effect-ming">
                                    <img src="img/show-2-4.jpg" alt="img/show-2-4" />
                                    <figcaption>
                                        <h2>成都 <span>美术馆</span></h2>
                                        <p>成都.知美术馆地处四川成都 新津县 老君山下。</p>
                                        <a href="show_detail.html">View more</a>
                                    </figcaption>
                                </figure>
							</div>
							<div class="col-lg-4">
                                <figure class="effect-ming">
                                    <img src="img/show-2-5.jpg" alt="img/show-2-5" />
                                    <figcaption>
                                        <h2>余德耀 <span>美术馆</span></h2>
                                        <p>余德耀在他的故乡雅加达创立了一家私人博物馆——余德耀美术馆，并称计划在全亚洲建立同类博物馆网络。</p>
                                        <a href="show_detail.html">View more</a>
                                    </figcaption>
                                </figure>
							</div>
						</div>
					</div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="more"><a href="show_list.html">查看更多&nbsp;&nbsp;→</a></div>
                        </div>
                    </div>
                </div>
				<div class="show-3" id="showC">
					<div class="row">
						<div class="col-lg-12">
							<div class="show1-col-lg-12"><h2>在线展览</h2></div>
						</div>
						<div class="col-lg-4">
                            <figure class="effect-chico">
                                <img src="img/show-1-1.jpg" alt="show-1-1.jpg"/>
                                <figcaption>
                                    <h2>Silly <span>Chico</span></h2>
                                    <p>Chico's main fear was missing the morning bus.</p>
                                    <a href="online-/show">View more</a>
                                </figcaption>
                            </figure>
						</div>
						<div class="col-lg-4">
                            <figure class="effect-chico">
                                <img src="img/show-1-1.jpg" alt="show-1-1.jpg"/>
                                <figcaption>
                                    <h2>Silly <span>Chico</span></h2>
                                    <p>Chico's main fear was missing the morning bus.</p>
                                    <a href="online-/show">View more</a>
                                </figcaption>
                            </figure>
						</div>
						<div class="col-lg-4">
                            <figure class="effect-chico">
                                <img src="img/show-1-1.jpg" alt="show-1-1.jpg"/>
                                <figcaption>
                                    <h2>Silly <span>Chico</span></h2>
                                    <p>Chico's main fear was missing the morning bus.</p>
                                    <a href="online-/show">View more</a>
                                </figcaption>
                            </figure>
						</div>
					</div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="more"><a href="show_list.html">查看更多&nbsp;&nbsp;→</a></div>
                        </div>
                    </div>
				</div>
				<div class="footer">
					<div class="footer-main">
						<div class="row">
							<div class="col-lg-4">
								<div class="footer-page1">
									<h3>关于我们</h3>
									<ul class="footer-page1-1">
										<li><a href="#">在这里，你可以share</a></li>
										<li><a href="#">在这里，你可以remark</a>k</li>
										<li><a href="#">在这里，你可以go shopping</a></li>
										<li><a href="#">在这里，你可以learn</a></li>
										<li><a href="#">在这里，你可以read</a></li>
									</ul>
								</div>	
							</div>
							<div class="col-lg-4">
								<div class="footer-page2">
									<h3>页面链接</h3>
									<ul class="footer-page2-1">
										<li><a href="#">传世书画</a></li>
										<li><a href="#">当代书画</a>k</li>
										<li><a href="#">书画展览</a></li>
										<li><a href="#">书画拍卖</a></li>
										<li><a href="#">新闻资讯</a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="footer-page3">
									<h3>联系我们</h3>
									<ul class="footer-page3-1">
										<li><a href="#">电话：028-123456789</a></li>
										<li><a href="#">手机：1234567890</a>k</li>
										<li><a href="#">邮箱：1829978700@qq.com</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="footer-img">
						<div class="row">
							<div class="col-lg-12">
								<div class="social-info">
									<a href="#" class="-facebook"><span class="ico ico-facebook" aria-hidden="true"></span></a>
									<a href="#" class="-twitter"><span class="ico ico-twitter" aria-hidden="true"></span></a>
									<a href="#" class="-dribbble"><span class="ico ico-dribbble" aria-hidden="true"></span></a>
									<a href="#" class="-googleplus"><span class="ico ico-google-plus" aria-hidden="true"></span></a>
									<a href="#" class="-youtube"><span class="ico ico-youtube" aria-hidden="true"></span></a>
								</div>	
							</div>
						</div>
					</div>
					<div class="footer-copyright">
						<div class="row">
							<div class="col-lg-12">
								<p>© 2018 - All Rights Reserved. 书画网</p>
							</div>
						</div>
					</div>	
				</div>
			</div>
		</div>
		</div>
		<!--jQuery  使用bootstrap插件必须引入jQuery-->
		<script src="/js/jquery.min.js"></script>
		<!--使用bootstrap插件必须引入-->
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/jquery.scrollex.min.js"></script>
		<script src="/js/jquery.scrolly.min.js"></script>
		<script src="/js/skel.min.js"></script>
		<script src="/js/util.js"></script>
		<script src="/js/main.js"></script>
        <script src="/js/jquery.scrollTo.js"></script>
        <script type="text/javascript">
            $(function(){
                $(".show-a").click(function(){
                    window.scrollTo(0, 430);
                });
                $(".show-b").click(function(){
                    window.scrollTo(0, 1050);
                });
                $(".show-c").click(function(){
                    window.scrollTo(0,2100);
                });
            });
        </script>
	</body>
</html>
